.medium {
  font-size: 19px;
  line-height: 24px;
}

.small {
  font-size: 14px;
  line-height: 16px;
}

.big {
  font-size: 32px;
  line-height: 40px;
}

.bold {
  font-family: 'mulish-bold';
}

.regilar {
}

.extraBold {
  font-family: 'mulish-black';
}

.primary {
  color: var(--text-color-primary);
}

.secondary {
  color: var(--text-color-secondary);
}

.blue {
  color: var(--text-color-blue);
}

.black {
  color: var(--text-color-black);
}

.white {
  color: var(--text-color-white);
}

.gray {
  color: var(--text-color-gray);
}

.inherit {
  color: inherit;
}

.contrast {
  color: var(--text-color-contrast);
}
