.container {
}

.row {
  padding: 10px;
}

.row:not(.row-selected):hover {
  background-color: var(--color-hover);
  cursor: pointer;
}

.row-selected {
  opacity: 0.7;
}

.fav_column {
  width: 100%;
  padding: 10px;
  flex-wrap: wrap;
}

.fav_token_wrap {
  padding: 2px 8px;
  margin-top: 8px;
  border-radius: 16px;
  margin-right: 10px;
  border: 1px solid var(--color-border);

  cursor: pointer;

  transition: all 0.2s ease-out;
}

.fav_token_wrap:hover {
  background-color: var(--color-hover);
}

.fav_close {
  transition: all 0.2s ease-out;
}

.fav_close:hover {
  opacity: 0.7;
}

.input_wrap {
  padding: 0 10px;
}
