.container {
}

.logo_img {
  width: 50px;
  height: 50px;
}

.stats_card {
  padding: 12px;
}

.stat_row {
  display: grid;
  grid-template-columns: 33% 66.66%;
  grid-column-gap: 100px;
  align-items: center;
}
