@font-face {
  font-family: 'mulish-black';
  src: url('../assets/fonts/Mulish-Black.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulish-extrabold';
  src: url('../assets/fonts/Mulish-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulish-bold';
  src: url('../assets/fonts/Mulish-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'mulish';
  src: url('../assets/fonts/Mulish-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
