.container {
  display: flex;
  flex-direction: column;

  max-width: 480px;
  width: 100%;
  background: var(--bg-color-primary);
  box-shadow: rgb(0 0 0 / 1%) 0px 0px 1px, rgb(0 0 0 / 4%) 0px 4px 8px,
    rgb(0 0 0 / 4%) 0px 16px 24px, rgb(0 0 0 / 1%) 0px 24px 32px;
  border-radius: 24px;

  border: 1px solid var(--color-border);
}

.footer {
  border-top: 1px solid var(--color-border);
}
