.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 18px 16px;
  border-bottom: 1px solid var(--color-border);

  background-color: #fff;
}

.home {
  margin-right: 18px;
}

.nav-wrap {
  margin-left: 40px;
  display: flex;
}

.nav-link {
  padding: 6px 12px;
}

:global(.active) .nav-text {
  color: var(--text-color-primary);
}

.accountButton {
}
