.container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  padding: 18px 16px;
  border-bottom: 1px solid var(--color-border);

  background-color: #fff;
}

.drawer_btn {
  padding: 4px;
  cursor: pointer;
  display: none;
}

@media screen and (max-width: 576px) {
  .desktop {
    display: none;
  }

  .drawer_btn {
    display: block;
  }
}

.home {
  margin-right: 18px;
}

.nav-wrap {
  margin-left: 40px;
  display: flex;
}

.accountButton {
}

.address {
  margin-left: 10px;
}
