.num-input {
  width: 100%;
  padding: 10px;
  margin-top: 4px;
  outline: none;
  border: none;
  background: transparent;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  box-shadow: none !important;
  white-space: nowrap;
  overflow: hidden;
  -webkit-appearance: textfield;

  font-size: 16px;
  font-family: 'mulish-bold';

  border: 2px solid var(--color-border);
  border-radius: 12px;
  background-color: transparent;
  border-color: var(--color-border);

  transition: all 0.2s ease-out;
}

.num-input:focus {
  border-color: var(--color-primary);
  transition: all 0.2s ease-out;
}

.num-input::placeholder {
  color: #333;
}

.source {
  text-transform: capitalize;
}
