.container :global(.enter),
.container :global(.appear) {
  opacity: 0.01;
}

.container :global(.enter.enter-active),
.container :global(.appear.appear-active) {
  opacity: 1;
  transition: opacity 250ms ease-in;
}

.container :global(.exit) {
  opacity: 1;
}

.container :global(.exit.exit-active) {
  opacity: 0.01;
  transition: opacity 250ms ease-out;
}
