.headline {
  font-family: 'Mulish-Black', sans-serif;
  font-weight: 500;

  color: var(--text-color-primary);
}

.big {
  font-size: 45px;
  line-height: 56px;
}

.medium {
  font-size: 30px;
  line-height: 40px;
}
