.headline {
  font-family: 'Mulish-Black', sans-serif;
  font-size: 32px;
  line-height: 40px;
  font-weight: 500;

  color: var(--text-color-primary);
}

.h1 {
  font-size: 45px;
  line-height: 56px;
}
