.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: calc(var(--zIndex-modal) - 1);
  visibility: hidden;
}

.shown.container {
  visibility: visible;
}

.base {
  background-color: var(--bg-color-primary);
  box-shadow: 0px 20px 36px -8px rgba(14, 14, 44, 0.1),
    0px 1px 1px rgba(0, 0, 0, 0.05);
  border: 1px solid var(--color-border);
  border-radius: 32px;
  width: 100%;
  z-index: var(--zIndex-modal);
  overflow-y: auto;
}

.header {
  display: flex;
  align-items: center;
  align-items: center;
  padding: 12px 24px;
}

.overlay {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
  background: #244152;
  z-index: 10;
  transition: all 0.2s;
  backdrop-filter: blur(3px) !important;
}

.shown .overlay {
  opacity: 0.7;
}

.drawer {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 250px;
  height: 100%;

  padding: 20px;

  box-shadow: 0px 16px 32px rgba(73, 71, 124, 0.24);

  transform: translateX(-110%);
  transition: transform 0.2s ease-out;
  z-index: var(--zIndex-modal);
  background-color: var(--bg-color-primary);
}

.shown.drawer {
  transform: translateX(0);
}

.drawer_header {
  margin-bottom: 30px;
}

.nav-wrap {
}
